@font-face{
  font-family: 'Gloock';
  src: url('./assets/Gloock/Gloock-Regular.ttf');
}

@font-face{
  font-family: 'Lato';
  src: url('./assets/Lato/Lato-Regular.ttf');
}

:root {
  /* color variable definitions */
  --primary: #FFF5EC;
  --secondary:#FFE5D4;
  --tertiary: #C4A998;
  --text-1: #000000;
  --text-2: #987661;

  font-family: Lato, serif;;

  /* line-height: 1.5;
  font-weight: 400; */
  background-color: var(--primary);
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  all:unset;
  cursor: pointer;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  /* display: flex;
  min-width: 320px;
  min-height: 100vh; */
  margin-top:6rem;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  font-family: Gloock, serif;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.1;
  font-family: Gloock, serif;
}

.text-2{
  color:var(--text-2);
}

button {
  border-radius: 15px;
  border: 3px solid var(--tertiary);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Gloock, serif;
  cursor: pointer;
  background-color:var(--secondary);
  transition: background-color 0.25s;
}
button:hover {
  background-color: var(--tertiary);
}

#nav{
  position:fixed;
  top:0px;
  left:0px;
}

input{
  all:unset;
  text-align: left;
  background-color: var(--primary);
  border: 3px solid var(--tertiary);
  border-radius: 2rem;
  height: 2rem;
  width:fit-content;
  padding-left:1rem;
  padding-right:1rem;
  font-size: 1rem;
  font-family: Lato, sans-serif;
}
input:focus{
  all:unset;
  text-align: left;
  background-color: var(--secondary);
  border: 3px solid var(--tertiary);
  border-radius: 2rem;
  height: 2rem;
  width:fit-content;
  padding-left:1rem;
  padding-right:1rem;
  font-size: 1rem;
  font-family: Lato, sans-serif;
}

input::placeholder{
  color:var(--tertiary);
  text-align: left;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
